{% extends "admin/base_site.html" %}{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js'></script>
<script type="text/javascript" src='https://code.jquery.com/jquery-3.4.1.js'></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content %}
<div id="content-main">
<table id = "DataTable">
    <tr>
        <th>Question</th>
        <th>Type</th>
        <th>Target</th>
    </tr>
    {% for point in points reversed %}
    <tr>
        <td>{{point.question}}</td>
        {% if point.type == 0 %}
            <td>Practice</td>
        {% else %}
            <td>Experimental</td>
        {% endif %}
        <td>{{point.nclicks}}</td>
        <td>{{point.target}}</td>
    </tr>
    {% endfor %}
</table>
<canvas id="nClickChart" width="100" height="100"></canvas>
</div>
<script>
    var nClickChart = new Chart($('#nClickChart'), {
    type: 'line',
    data: {labels: {{questions|safe}},
    datasets: [{
        data: {{nclicks|safe}},
        label: "nclicks",
        borderColor: "#3e05cd",
        fill: false
      }]},
    options: {
    title: {
      display: true,
      text: 'World population per region (in millions)'
    }
    }
    });

    var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    console.log(ws_scheme + '://' + window.location.host + "/admin/getWorkerData" + window.location.pathname.split("/admin/experiment").pop());
    var datasock = new WebSocket(ws_scheme + '://' + window.location.host + "/admin/getWorkerData" + window.location.pathname.split("/admin/experiment").pop());
    datasock.onmessage = function(message) {
        var data = JSON.parse(message.data);
        if(data.worker == "{{worker}}")
        {
            var row = "<tr>";
            row += "<td>" + data.question + "</td>";
            if(data.type == "0")
            {
                row += "<td>Practice</td>";
            }
            else
            {
                row += "<td>Experimental</td>"
            }
            row += "<td>" + data.nclicks + "</td>";
            row += "<td>" + data.target + "</td>";
            row += "</tr>";
            $("#DataTable tbody").children("tr:first").append(row);

            nClickChart.data.labels.push(data.question);
            nClickChart.data.datasets[0].data.push(data.nclicks);
        }
    };
</script>
{% endblock %}

{% block afterbody %}

{% endblock afterbody %}