{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% load static %}
<script type="text/javascript" src='{% static "Admin/jquery-1.12.1.min.js" %}'></script>
  <script type="text/javascript" src='{% static "Admin/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "Admin/data.js" %}'></script>
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block coltype %}colM{% endblock %}

{% block content %}
<div id="content-main">

</div>
{% endblock %}

{% block afterbody %}

{% endblock afterbody %}